@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --brand:#0e7490;
  --accent:#10b981;
}
body{ -webkit-font-smoothing:antialiased; }
.book-shadow{ box-shadow: 0 10px 30px rgba(0,0,0,.12); }
